body {
    padding: 0;
    margin: 0;
}

#body {
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-attachment: fixed;
    overflow: hidden;
}

p {
    font-size: large;
    color: white;
    text-align: center;
}

#sub {
    font-size: smaller;
}

#form {
    overflow-y: scroll;
    border-top-right-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5vw;
    padding-top: 2.5vh;
    border-radius: 25px;
    margin-bottom: 2vh;
    padding-bottom: 2.5vh;
    background-color: #2a2b4a;
    width: 45vw;
    opacity: 0.8;
}