body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    color: #337ab7;
    font-weight: 300;
}

h3 {
    text-align: center;
    color: green;
    font-weight: 100;
    font-size: x-large;
    margin-top: -1vh;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    width: 15vw;
}

b {
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-size: small;
}

b:nth-of-type(2) {
    margin-top: 1.5vh;
}

p {
    font-weight: 100;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: gray;
    padding-left: 2vw;
    font-weight: 500;
    font-size: 1.25em;
}

a {
    text-decoration: none;
}

a:visited {
    color: green;
}

a:hover {
    color: blue;
}